@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap");

@import "tailwindcss";

.h1-title {
  font-family: "Exo 2";
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #3b3b4f;
}

.p {
  font-family: "Exo 2";
}
