SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=*

# Database
DB_NAME=DB_NAME
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5433

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Redis
REDIS_URL=redis://redis:6379/0

# Service Registry
SERVICE_REGISTRY_URL=http://service-registry:8000
SERVICE_NAME=SERVICE_NAME
SERVICE_HOST=SERVICE_HOST
SERVICE_PORT=PORT

# Identity Service
IDENTITY_SERVICE_URL=http://identity-service:8001

# Monitoring
SENTRY_DSN=
PROMETHEUS_ENABLED=true
